<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<br>
	
	<div class="card">
		<div class="card-header"></div>
		<div class="card-body">			
			<ul class="list-group">
				<li class="list-group-item" th:text="${client.name}"></li>
				<li class="list-group-item" th:text="${client.surname}"></li>
				<li class="list-group-item" th:text="${client.email}"></li>
				<li class="list-group-item" th:text="${client.birthDate}"></li>
				<li class="list-group-item" th:if="${client.photo != null}" >
					<img th:src="@{'/clients/uploads/' + ${client.photo}}">
				</li>
									
			</ul>
			
			<br>		
			
			<div th:if="${client.facturas.size() == 0}" class="alert alert-info" th:text="'No hay facturas para el cliente'"></div>
			
			<table th:if="${not #lists.isEmpty(client.facturas)}" class="table table-bordered table-striped my-4">
				<thead>
					<th>Factura</th>
					<th>Descripción</th>
					<th>Fecha</th>
					<th>Total</th>
				</thead>
				<tbody>
					<tr th:each="factura: ${client.facturas}">
						<td th:text="${factura.id}"></td>
						<td th:text="${factura.descripcion}"></td>
						<td th:text="${factura.createAt}"></td>
						<td th:text="${factura.total}"></td>
					</tr> 
				</tbody>
			</table>
			
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>