<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	 <header th:replace="layout/layout :: header"></header>

	<main role="main"> <!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3" th:text="${title}"></h1>
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-12">
				<div th:object="${client}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/clients/save}" th:object="${client}"
					method="post">
					<div class="form-group">
						<label class="col-sm-2 col-form-label">Nombre:</label> <input
							class="col-sm-6" type="text" th:field="*{name}"
							th:errorclass="alert-danger"> <small
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Apellidos:</label> <input class="col-sm-6"
							type="text" th:field="*{surname}" th:errorclass="alert-danger">
						<small th:if="${#fields.hasErrors('surname')}"
							th:errors="*{surname}"></small>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Email:</label> <input class="col-sm-6"
							type="text" th:field="*{email}" th:errorclass="alert-danger">
						<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Fecha nacimiento:</label> <input
							class="col-sm-6" type="text" th:field="*{birthDate}"
							th:errorclass="alert-danger"> <small
							th:if="${#fields.hasErrors('birthDate')}"
							th:errors="*{birthDate}"></small>
					</div>
					<div>
						<input type="submit" value="Crear cliente">
					</div>
				</form>
			</div>
		</div>

		<hr>

	</div>
	<!-- /container --> </main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>