<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>	
	
    <header th:replace="layout/layout :: header"></header>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3" th:text="${title}"></h1>          
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">
            <h2>Clientes</h2>    
            <a th:href="@{/clients/form}">Crear cliente</a>      
            <table class="table">
            	<thead>
            		<th>ID</th>
            		<th>NOMBRE</th>
            		<th>APELLIDOS</th>
            		<th>EMAIL</th>
            		<th>FECHA NACIMIENTO</th>
            		<th>FECHA CREACIÓN</th>
            		<th>EDITAR</th>
            		<th>BORRAR</th>
            	</thead>
            	<tbody>
            		<tr th:each="client: ${clients}">            			
            			<td th:text="${client.id}"></td>
            			<td th:text="${client.name}"></td>
            			<td th:text="${client.surname}"></td>
            			<td th:text="${client.email}"></td>
            			<td th:text="${client.birthDate}"></td> 
            			<td th:text="${client.createAt}"></td>  
            			<td><a th:href="@{/clients/form/} + ${client.id}" th:text="'editar'"></a></td>
            			<td><a th:href="@{/clients/delete/} + ${client.id}" th:text="'eliminar'" onclick="return confirm('¿Estás seguro que quieres eliminar el elemento?')"></a></td>          		            			
            		</tr>
            	</tbody>
            </table>  
            <nav th:replace="paginator-nav :: paginator"></nav>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer th:replace="layout/layout :: footer"></footer>	
</body>
</html>